extends layout
include _includes/sharedHTMLfunctions

block content
    .row.banner
        .col-12
            h1 Bewertungen für #{shop.name}
    .row
        .col-12.col-lg-9
            .row
                .col-12.col-md-6
                    p.rating
                        +outputRating(shop.rating)
                    p= shop.address
                    .card.card-primary
                        .card-block
                            h2.card-title Öffnungszeiten
                            each hours in shop.openingHours
                                p.card-text 
                                    | #{hours.days}: 
                                    if hours.closed 
                                        | closed
                                    else
                                        | #{hours.opening} - #{hours.closing}
                    .card.card-primary
                        .card-block
                            h2.card-title Anlagen
                            each fitting in shop.facilities
                                span.badge.badge-warning
                                    i.fa.fa-check
                                    | &nbsp;#{fitting}
                                | &nbsp;
                .col-12.col-md-6.location-map
                    .card.card-primary
                        .card-block
                            h2.card-title Karte
                            img.img-fluid.rounded(src=`https://maps.googleapis.com/maps/api/staticmap?center=${shop.coords.lat},${shop.coords.lng}&zoom=17&size=400x350&sensor=false&marker=${shop.coords.lat},${shop.coords.lng}&scale=2&key=YOUR-KEY`)
            .row
                .col-12
                    .card.card-primary.review-card
                        .card-block
                            a.btn.btn-primary.float-right(href='/shopslist/shop/review/new') Bewertung hinzufügen
                            h2.card-title Kundenbewertung
                            each review in shop.reviews
                                .row.review
                                    .col-12.no-gutters.review-header
                                        span.rating
                                            +outputRating(review.rating)
                                        span.review Autor: #{review.author}
                                        small.review Datum: #{review.timestamp}
                                    .col-12
                                        p= review.reviewText
            .col-12.col-lg-9
            p.lead Wieder Text zur weitern Information

