extends layout
include _includes/sharedHTMLfunctions

block content
  .row.banner
    .col-12
      h1= pageHeader.title
  .row 
    .col-12.col-md-8
      each shop in shops
        .card
          .card-block
            h4
              a(href='/shopslist/shop')= shop.name
              small &nbsp;
                +outputRating(shop.rating)
              span.badge.badge-pill.badge-default.float-right= shop.distance
            p.address= shop.address
            .facilities
              span.badge.badge-warning= shop.facilities
    .col-12.col-md-4
      p.lead  Hier sind allgemeine Infos in der Slidebar


